*{
    box-sizing: border-box;
}

#heroroad{
    background-image: url("Image/heroroad.jpg");
    background-size: 100% 100%;
    height: 250px;
    
}

#heromug{
    background-image: url("Image/heromugs.jpg");
    background-size: 250px 250px 250px;
    height: 250px;
}

#heroguitar{
    background-image: url("Image/heroguitar.jpg");
    background-size: 250px 250px 250px;
    height: 250px;
}

#herojobs {
    background-image: url(Image/herojobs.jpg);
    background-size: 100% 100%;
    height: 250px;
}

body {
    background-color: #FCEBB6;
    color: #221811;
    font-family: Verdana, Arial,sans-serif;   
    background-image: url("Image/background.gif");
}

header {
    background-color: #D2B48C;
    /*text-align: center;*/
    background-image: url(Image/javajamlogo.jpg);
    height: 150px;
    background-repeat: no-repeat;
    display:block;
}

h1 {
    /*line-height: 200%;*/
    line-height: 85px;
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    float: left;
    width: 200px;
    display:block;
}

nav a {
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    padding-left: 0;
}


footer {
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px #221811;
    display:block;
}

nav a:link{
    color: #FEF6C2;
}

nav a:visited{
    color: #D2B48C;
}

nav a:hover{
    color: #CC9933;
}

#wrapper{

    width:80%;
    margin-left : auto;
    margin-right : auto;
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px 3px #333333;
    }
    
h4{
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: 0;
    text-transform: uppercase;
    border-bottom:2px solid #231814;
    clear: left;/*clear property often use for terminate or clear a float
    */
}

main{
    padding-left: 0;;
    padding-right: 0;
    padding-bottom: 2em;
    margin-left: 200px;
    padding-top: 0;
    background-color: #FEF6C2;
    display:block;
}

main h2,main h3,main h4,main p,main div,main ul,main dl{
    padding-left: 3em;
    padding-right: 2em;
}


.details{
    padding-left:20%;
    padding-right:20%;
    overflow: auto;/*to configure how the content should display if it is too large for the area allocated*/

}

img{
    padding-left: 10px;
    padding-right: 10px;
}

.floatleft{
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-spacing: 0;
    background-color: #FFFFCC;
}

td,th{
    padding: 10px;
}

tr:nth-of-type(odd){
    background-color: #D2B48C;
}/*apply to the "nth" element of the specific type.Value:a number ,odd and even */

form{
    padding:2em;/*This is form selector,later will do in html*/
}

label{
    float: left;
    text-align: right;
    display: block;
    width: 8em;
    padding-right: 1em;
}

input,textarea{
    display: block;
    margin-bottom: 1em;
}

#mySubmit{
    margin-left: 9.5em;

}